
  <h2 class="text-center white">Edit Your Photo</h1>
    <div class="panel">
    <%= form_for(resource, url:registration_path(resource)) do |f| %>
      <%= image_tag(resource.profile_photo.url, id: "edit-photo") %>
      <% for attribute in [:profile_photo_crop_x, :profile_photo_crop_y, :profile_photo_crop_w, :profile_photo_crop_h] %>
        <%= f.hidden_field attribute, id: attribute %>
      <% end %>
      <%= f.submit "Crop", class: "button small radius right" %>
    <% end %>
    </div>
