
<% if @user.handicap.class == String %>
  <h4 class="text-center">Handicap:</h4>
  <div class="progress round">
    <span class="meter" style="width:<%= @user.player_rounds.count*20 %>%"></span>
  </div>
  <p class="text-center"><%= @user.handicap %></p>
<% else %>
  <h4>Handicap: <%= @user.handicap %></h4>
<% end %>
