<table id="upcoming_table" class="tablesorter">
  <thead>
    <tr>
      <th>Date</th>
      <th>Course</th>
      <th>Tee Time</th>
    </tr>
  </thead>
  <tbody>
    <% @user.upcoming_rounds.each do |upcoming| %>
    <tr>
      <td><%= upcoming.round_date.strftime("%m/%d/%Y") %></td>
      <td><%= upcoming.course.name %></td>
      <td>
        <%= link_to "#{upcoming.tee_time.strftime("%I:%M%p")}", round_path(upcoming) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
