.panel.radius
  %h4 Existing Users
  = simple_form_for(:user, :url => session_path(:user)) do |f|
    = f.input :email, autofocus: true
    = f.input :password, autocomplete: "off"
    = f.submit "Log in", class:"tiny button radius"
