.div
  .row
    %h1 Golf Course Directory
  - @courses.each do |letter, courses|
    .row
      %h2= letter
      - courses.each do |course|
        .row
          = link_to course.name, course_path(course)
