.courses-cover {
  width: 100%;
  max-width:100%;
  background:
    linear-gradient(rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)),
    url('https://s3.amazonaws.com/wagglr-production/assets/stunning-golf-course-wallpaper-46047-47332-hd-wallpapers.jpg');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100vh;
}

#locationField {
  position: relative;
  width: 480px;
}

.pac-container {
  z-index: 1051 !important;
}
