.text-center {
  text-align: center;
}

.tablesorter{
  width: 100%;
}

.cover {
  width: 100%;
  max-width:100%;
  height: 200px;
  position: fixed;
  z-index: -2;
}

.user-content {
  top: 200px;
  background-color: white;
  position: relative;
  bottom: 200px;
}

.avatar {
  border: 7px solid whitesmoke;
  border-radius: 12px;
  margin-top: -90px;
  margin-left: 25px;
  box-shadow: .5px .5px 2px gray;
}

#friend-request-list {
  display: none;
}

#drop1 {
  margin-top: 5px;
  margin-left: 0;
  width: 120.5px;
}

.panel {
  border-radius: 3px;
}

.friends_button {
  margin-top: 20px;
  margin-bottom: 0;
}
.sub-nav{
  padding-top:0;
}
#sub_nav_panel {

  margin-top: 10px;
  padding-left:5px;
  padding-right: 5px;
}
.title-light {
  font-weight: 300;
}

.title-heavy {
  font-weight: 700;
}
.panel {
  border: none;
  background: rgb(234, 234, 234);
}
